.venv
logs
__pycache__
*.py[cod]
*.egg-info
dist
build
*.env
.env
*.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace
*.iml
*.swp
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
__pycache__/
*.pyo
*.pyd
.Python
db.sqlite3
.mypy_cache/
.pytest_cache/
*.coverage
.coverage.*
.cache/
